

.background { 
	background-image:url(imagens/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.eu { 
	width:35%;
	height:35%;
	position:absolute;
	left:40%;
	top:5%;
	background-image:url(imagens/eu.jpeg);
	background-repeat:no-repeat;
	background-size:contain;
}
.web { 
	color:rgb(81, 23, 226);
	width:91%;
	height:25%;
	position:absolute;
	top:45%;
	font-family:comic;
	text-align:center;
	font-size:210%;
	letter-spacing:0;
}

.text { 
	color:rgb(214, 26, 208);
	width:90%;
	height:25%;
	position:absolute;
	top:52.5%;
	font-family:comic;
	text-align:center;
	font-size:125%;
	letter-spacing:0;
}
.trombeta { 
	width:30%;
	height:30%;
	position:absolute;
	left:70%;
	top:65%;
	background-image:url(imagens/trombeta.gif);
	background-repeat:no-repeat;
	background-size:contain;
}
.arroba { 
	width:30%;
	height:30%;
	position:absolute;
	left:8%;
	top:10%;
	background-image:url(imagens/arroba.gif);
	background-repeat:no-repeat;
	background-size:contain;
}
.dinosaur { 
	width:15%;
	height:15%;
	position:absolute;
	left:42.80%;
	top:80%;
	background-image:url(imagens/dinosaur.gif);
	background-repeat:no-repeat;
	background-size:contain;
}
.party { 
	width:27.5%;
	height:55%;
	position:absolute;
	left:65%;
	top:5%;
	background-image:url(imagens/internet-party.gif);
	background-repeat:no-repeat;
	background-size:contain;
}
.lol { 
	width:40%;
	height:40%;
	position:absolute;
	left:1%;
	top:50%;
	background-image:url(imagens/lol.gif);
	background-repeat:no-repeat;
	background-size:contain;
}
